extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Contrato 
        = contrato.idcontrato
      p 
        a(href="/") Página Principal
    ul.w3.container.w3-ul.w3-card-4(style="width:50%")
        li 
            b Id: 
            =contrato.idcontrato
        li
            b NAnuncio: 
            =contrato.nAnuncio
        li
            b Tipo de Procedimento: 
            =contrato.tipoprocedimento
        li
            b Objeto Contrato: 
            =contrato.objectoContrato
        li
            b Data de Publicação: 
            =contrato.dataPublicacao
        li
            b Data de Celebração: 
            =contrato.dataCelebracaoContrato
        li
            b Preço Contratual: 
            =contrato.precoContratual
        li
            b Prazo de Execução: 
            =contrato.prazoExecucao
        li
            b NIPC Entidade Comunicante: 
            =contrato.NIPC_entidade_comunicante
        li
            b  Entidade Comunicante: 
            =contrato.entidade_comunicante
        li
            b Fundamentação: 
            =contrato.fundamentacao